@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar biar estetik */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}